
<div class="mainContainer" id="first">
    <div class="container" layout="row">
        <md-card id="aboutCard" flex-gt-md="100" flex-md="75" flex-sm="75">
          <md-card-content>
            <p class="flow-text aboutParagraph">I was born and raised in Miami, Fl, and migrated to mid-coast Maine to attend<a id="bowdoin" href="https://bowdoin.edu">Bowdoin College</a>.After graduating, I moved with my band to Seattle, WA to follow in the footsteps of the many great musicians who have called Seattle their home.<span id="bandSpan"><md-tooltip md-direction="right" md-delay="200">It didn't pan out</md-tooltip><a target="_blank" href="https://soundcloud.com/brotherinferior">&#42;</a></span></p>

            <p class="flow-text aboutParagraph">Still living in Seattle, I'm now a full-stack web-developer on contract at Microsoft with experience in and a passion for a host of modern languages and technologies<span id="fakeLink" ng-click="openBottomSheet()"><md-tooltip md-direction="top" md-delay="200">Don't take <i>my</i> word for it: see for yourself.</md-tooltip>&#42;</span>, and am always searching for new ones to add to the list.</p>

            <p class="flow-text aboutParagraph">In my free time, I still play music frequently<span id="daveSpan"><md-tooltip md-direction="top" md-delay="200">And record, albeit less frequently</md-tooltip><a target="_blank" href="https://soundcloud.com/daveraskin">&#42;</a></span> and am an avid cook, a skill set that funded, supported and informed my music-making, coding, and other creative pursuits for years.</p>
          </md-card-content>
        </md-card>
        <div flex-gt-md="0" flex-md="25" flex-sm="25"></div>
    </div>
</div>