<div class="mainContainer" id="first" style="margin-top:64px" >
    <div class="container" layout="row">
        <md-card id="aboutCard" flex-gt-md="100" flex-md="75" flex-sm="75">
          <md-card-content>
            <md-list>
              <md-list-item>
                <md-list-item class="md-2-line" >
                  <div class="md-list-item-text">
                    <h3>linkedIn</h3>
                    <a href="https://linkedin.com/in/daveraskin">https://linkedin.com/in/daveraskin</a>
                  </div>
              </md-list-item>
               <md-list-item class="md-2-line" >
                  <div class="md-list-item-text">
                    <h3>GitHub</h3>
                    <a href="https://github.com/daveraskin">https://github.com/daveraskin</a>
                  </div>
              </md-list-item>
               <md-list-item class="md-2-line" >
                  <div class="md-list-item-text">
                    <h3>Address</h3>
                    <p>2612 S. Grand St., Seattle, WA 98144</p>
                  </div>
              </md-list-item>
            </md-list>
         </md-card-content>
        </md-card>
        <div flex-gt-md="0" flex-md="25" flex-sm="25"></div>
    </div>
</div>