
<div class="mainContainer" id="first">
  <div id="headContain" class="valign-wrapper">
    <div class="valign" id="block">
      <div class="row">
        <div class="col s12">
          <h1 id="DaveRaskin" class="center-align animated fadeInDown">Dave Raskin</h1>
        </div>
      </div>
       <div class="row" id="developerRow">
        <div class="col s12">
          <h4 class="center-align">{ Web Developer }</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h5 class="center-align">{ Performer } { Composer }</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a class="deep-orange darken-4 waves-effect waves-light btn z-depth-4" ng-click="changePage('about')" href="#!/about">About Me</a>
          <a class="deep-orange darken-4 waves-effect waves-light btn z-depth-4" ng-click="changePage('projects')" href="#!/projects">Projects</a>
          <a class="deep-orange darken-4 waves-effect waves-light btn z-depth-4" ng-click="changePage('contact')" href="#!/contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>