<div class="spaceMaker"></div>
<div layout="column">
   <div layout="row">
    <div flex-gt-md="15" flex-md="0"></div>
    <div flex-gt-md="85" flex-md="100"  class="flow-text">
      <md-card>
        <md-card-content layout-gt-md="row" layout-md="column">
          <div flex-gt-md="60" flex-md="100" class="valign-wrapper">
          <img class="valign"id="siprmnchPic" src="images/siprmunch.png">
          </div>
          <div flex-gt-md="40" flex-md="100">
          <h3 class="center-align" style="color:inherit"> s&iuml;prmunch </h3>
          <p class="flow-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div layout="row">

    <div flex-gt-md="85" flex-md="100"  class="flow-text">
      <md-card>
        <md-card-content layout-gt-md="row" layout-md="column">

          <div flex-gt-md="40" flex-md="100">
          <h3 class="center-align" style="color:inherit"> Daysie-Chain </h3>
          <p class="flow-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div flex-gt-md="60" flex-md="100" class="valign-wrapper">
          <img class="valign"id="daysieChainPic" src="images/daysiechain.png">
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex-gt-md="15" flex-md="0"></div>
  </div>

   <div layout="row">
    <div flex-gt-md="15" flex-md="0"></div>
    <div flex-gt-md="85" flex-md="100" class="flow-text">
      <md-card>
        <md-card-content layout-gt-md="row" layout-md="column">
          <div flex-gt-md="60" flex-md="100"class="valign-wrapper">
          <img class="valign"id="siprmnchPic" src="images/siprmnch.png">
          </div>
          <div flex-gt-md="40" flex-md="100">
          <h3 class="center-align" style="color:inherit"> SIPRMNCH </h3>
          <p class="flow-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  </div>
</div>
