<div class="projectPage">
  <div layout="row">
    <div flex-gt-md="85" flex-md="100" class="flow-text">
      <md-card class="projectCard">
        <md-card-content layout-gt-md="row" layout-md="column">
          <div flex-gt-md="60" flex-md="100" class="valign-wrapper">
            <img class="valign projectImage" id="WODPic" src="images/WOD.png">
          </div>
          <div class="descriptionParagraph" flex-gt-md="40" flex-md="100">
            <h3 class="center-align" style="color: inherit"> Microsoft Windows on Devices </h3>
            <p class="flow-text"> The docs and samples page for Microsoft's consumer-focused Internet of Things team.  I had a large part in the site's most recent redesign, and was totally responsible for it's implementation.  This project honed my abilities to create clean, responsive pages with simple, low-overhead technologies, and to build sites from redlines. </p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div layout="row">
    <div flex-gt-md="15" flex-md="0"></div>
    <div flex-gt-md="85" flex-md="100"  class="flow-text">
      <md-card class="projectCard">
        <md-card-content layout-gt-md="row" layout-md="column">
          <div flex-gt-md="60" flex-md="100" class="valign-wrapper">
            <img class="valign projectImage"id="siprmnchPic" src="images/siprmunch.png">
          </div>
          <div class="descriptionParagraph" flex-gt-md="40" flex-md="100">
            <h3 class="center-align" style="color:inherit"> s&iuml;prmunch </h3>
            <p class="flow-text"> A newer iteration of my very first full-stack project, this version of my location-based food-meetup app is built on the Sails.js and uses Angular JS in conjunction with Google's Material Design.  S&iuml;prmunch features a live in-app chat feature, and pushes new posts to the users feed without the need to refresh the page.</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div layout="row">
    <div flex-gt-md="85" flex-md="100"  class="flow-text">
      <md-card class="projectCard">
        <md-card-content layout-gt-md="row" layout-md="column">
          <div class="descriptionParagraph"flex-gt-md="40" flex-md="100">
            <h3 class="center-align" style="color:inherit"> Daysie-Chain </h3>
            <p class="flow-text"> Daysie Chain seeks to make organizing group activities and get-togethers as easy as clicking a button.  By adding your friends in groups that generally meet together, you can send invitations to a group event directly to their cellphones via MMS text, and they can easily reply by simply responding.  Users can then gauge attendance in-app, and even ping friends who have yet to RSVP.  Daysie Chain was built with Ruby on Rails and utilizes the Twilio API for sending and receiving text messages.</p>
          </div>
          <div flex-gt-md="60" flex-md="100" class="valign-wrapper">
            <img class="valign projectImage"id="daysieChainPic" src="images/daysiechain.png">
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex-gt-md="15" flex-md="0"></div>
  </div>

  <div layout="row">
    <div flex-gt-md="15" flex-md="0"></div>
    <div flex-gt-md="85" flex-md="100" class="flow-text">
      <md-card class="projectCard">
        <md-card-content layout-gt-md="row" layout-md="column">
          <div flex-gt-md="60" flex-md="100"class="valign-wrapper">
            <img class="valign projectImage"id="siprmnchPic" src="images/siprmnch.png">
          </div>
          <div class="descriptionParagraph"flex-gt-md="40" flex-md="100">
            <h3 class="center-align" style="color:inherit"> SIPRMNCH </h3>
            <p class="flow-text"> My first ever full-stack web project, SIPRMNCH is a service for social foodies.  Feel like grabbing a drink or a bite to eat but have no one to go with?  SIPRMNCH allows users to create posts inviting strangers to food meetups, or respond to posts that other users have created.  The service takes location data from your browser to tailor your feed to your immediate location.</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

